// Color
$primary: #709dca;
$secondary: #ffc155;
$text-color1: #7b7b7b;
$text-color2: #394b50;
$text-light: #ffffff;
$button-color: #ffbb42;

// Font size
$title: 21px;
$sub-title: 16px;
$main-font-size: 13px;
$text-price: 62px;

$label: 14px;

$main-font: 'Lato', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
